html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*:hover {
  text-decoration: none !important;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.pt25 {
  padding-top: 25px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto";
  color: #363636;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 26px;
}

p {
  font-size: 20px;
  line-height: 1.1;
  color: rgba(61, 61, 61, 0.69);
  margin-bottom: 15px;
}

a, p {
  font-family: "Roboto Condensed";
}

#logo {
  height: 40px;
  width: auto;
}

nav.mainNav {
  position: fixed;
  width: 100%;
  padding: 30px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  z-index: 10;
}
nav.mainNav .row {
  height: 40px;
}
nav.mainNav a {
  line-height: 40px;
}
nav.mainNav a h1 {
  color: #363636;
  font-size: 30px;
  margin: 0;
  display: inline-block;
  line-height: 40px;
  height: 40px;
  vertical-align: middle;
  position: relative;
}
nav.mainNav a h1 span {
  top: 0;
  left: 45px;
  position: absolute;
}
nav.mainNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav.mainNav ul li {
  padding: 0 10px;
}
nav.mainNav ul li a {
  line-height: 40px;
  color: rgba(61, 61, 61, 0.69);
}

nav.header-alt {
  padding: 15px 0;
}

.banner {
  background-image: url("../img/design-example.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  position: relative;
}
.banner:after {
  background-color: #2f9bee;
  background-image: -webkit-gradient(linear, left top, right top, from(#2f9bee), to(#47c9e5));
  background-image: -webkit-linear-gradient(left, #2f9bee, #47c9e5);
  background-image: -o-linear-gradient(left, #2f9bee, #47c9e5);
  background-image: linear-gradient(to right, #2f9bee, #47c9e5);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  z-index: 1;
  opacity: 0.6;
}
.banner .container {
  position: relative;
  height: 100%;
  z-index: 2;
}
.banner .container .bannerLink {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  animation: bob 4s ease-in-out infinite;
}
.banner .container .content {
  position: absolute;
  bottom: 25%;
  left: 50px;
}
.banner .container .content h2 {
  color: #fff;
  font-size: 6rem;
  width: 0px;
  text-transform: capitalize;
}

@media (max-width: 560px) {
  .banner {
    height: 80vh;
  }
  .banner .container .content {
    bottom: 150px;
    left: 7.5%;
    right: initial;
  }
  .banner .container .content h2 {
    font-size: 3rem;
  }
}
.intro {
  padding-top: 115px;
  padding-bottom: 0;
}
.intro .col {
  max-width: 80%;
  margin: 0 auto;
}

.carousel {
  padding: 125px 0 0 0;
}
.carousel .carousel-cell {
  width: 438px;
}
.carousel .carousel-cell img {
  width: 100%;
  height: auto;
}

@media (max-width: 460px) {
  .carousel .carousel-cell {
    width: 90%;
  }
  .carousel .carousel-cell img {
    pointer-events: none;
  }
}
.portfolioHome {
  padding-top: 125px;
  padding-bottom: 0;
}

/* ---- grid ---- */
.grid:after {
  content: "";
  display: block;
  clear: both;
}
.grid .grid-sizer,
.grid .grid-item {
  width: 360px;
}
.grid .grid-item {
  float: left;
  margin-top: 10px;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.4);
}
.grid .grid-item .hover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  pointer-events: none;
  opacity: 0;
}
.grid .grid-item .hover h3 {
  color: #fff;
}
.grid .grid-item .hover img {
  display: block;
  max-width: 50%;
  height: auto;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}
.grid .grid-item:hover {
  margin-top: 5px;
}
.grid .grid-item:hover .hover {
  opacity: 1;
}
.grid .grid-item:hover img {
  opacity: 1;
}
.grid .grid-item img {
  display: block;
  max-width: 100%;
}

@media (max-width: 991px) {
  .grid .grid-item,
.grid .grid-sizer {
    width: 85%;
    width: calc(50% - 60px);
  }
}
@media (max-width: 560px) {
  .grid .grid-item,
.grid .grid-sizer {
    width: 85%;
    width: calc(100% - 30px);
  }
}
.blurb {
  margin-top: 125px;
  padding: 50px 0;
  background-color: #2f9bee;
  background-image: -webkit-gradient(linear, left top, right top, from(#2f9bee), to(#47c9e5));
  background-image: -webkit-linear-gradient(left, #2f9bee, #47c9e5);
  background-image: -o-linear-gradient(left, #2f9bee, #47c9e5);
  background-image: linear-gradient(to right, #2f9bee, #47c9e5);
}
.blurb h2, .blurb p {
  color: #fff;
}
.blurb .col-c {
  max-width: 80%;
  margin: 0 auto;
}
.blurb .services .col-c {
  background: rgba(255, 255, 255, 0);
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  padding: 25px 15px;
}
.blurb .services .col-c:hover {
  background: rgba(255, 255, 255, 0.1);
}
.blurb .services .col-c h2 {
  margin: 15px 0;
}

.workWith {
  padding-top: 50px;
  padding-bottom: 50px;
}
.workWith h2 {
  margin-bottom: 50px;
}
.workWith img {
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}
.workWith img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

.ctaBanner {
  background: url("../img/contact-bg.jpg");
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 100px;
}
.ctaBanner p, .ctaBanner h2, .ctaBanner a {
  color: #fff;
}
.ctaBanner p {
  margin-bottom: 15px;
}
.ctaBanner a {
  transition: 0.5s ease;
  font-size: 26px;
}
.ctaBanner a:hover {
  color: rgba(61, 61, 61, 0.69);
}
.ctaBanner ul {
  padding-top: 25px;
  padding-bottom: 25px;
}
.ctaBanner ul li {
  padding-bottom: 10px;
}
.ctaBanner .form {
  text-align: center;
}
.ctaBanner .form input, .ctaBanner .form textarea {
  margin-bottom: 15px;
  border: none;
  padding: 15px;
  font-size: 16px;
  font-family: "Roboto Condensed";
  color: rgba(61, 61, 61, 0.69);
  width: 95%;
}
.ctaBanner .form textarea {
  height: 170px;
}
.ctaBanner .form input[type=submit] {
  width: 200px !important;
}
.ctaBanner .form #formSubmit {
  cursor: pointer;
  width: 92.5%;
  transition: 0.5s ease;
  background: #fff;
  font-family: "Roboto";
}
.ctaBanner .form #formSubmit:hover {
  background: #363636;
  color: #fff;
}

footer {
  background: #363636;
  padding: 50px;
}
footer p, footer a {
  color: #fff;
}

.t-right {
  text-align: right;
}

.noPad {
  padding: 0;
}

@keyframes bob {
  0% {
    bottom: 15px;
  }
  50% {
    bottom: 45px;
  }
  100% {
    bottom: 15px;
  }
}
.navMenu {
  position: fixed;
  width: 50px;
  right: 0;
  top: 50%;
  overflow: hidden;
  width: 120px;
  transform: translate(0, -50%);
}
.navMenu li {
  display: block;
  position: relative;
  padding: 0 !important;
  margin-top: 2px;
}
.navMenu li .label {
  background: #363636;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  padding: 5px;
  width: 25px;
  text-align: center;
}
.navMenu li .icon {
  background: #fff;
  position: relative;
  z-index: 1;
  padding: 5px;
  line-height: 40px;
  width: 100px;
  display: block;
  right: -100px;
  transition: 0.5s ease;
  -webkit-box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.4);
}
.navMenu li:hover .icon {
  right: 0;
}

/*# sourceMappingURL=styles.css.map */
