html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*:hover {
  text-decoration: none !important;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.pt25 {
  padding-top: 25px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto";
  color: #363636;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 26px;
}

p {
  font-size: 20px;
  line-height: 1.1;
}

a, p {
  font-family: "Roboto Condensed";
}

nav.mainNav {
  position: fixed;
  width: 100%;
  padding: 30px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  transition: 0.5s ease;
  z-index: 10;
}
nav.mainNav a {
  line-height: 40px;
}
nav.mainNav a h1 {
  color: #363636;
  font-size: 30px;
  margin: 0;
}
nav.mainNav ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav.mainNav ul li {
  padding: 0 10px;
}
nav.mainNav ul li a {
  line-height: 40px;
  color: rgba(61, 61, 61, 0.69);
}

nav.header-alt {
  padding: 15px 0;
}

.banner {
  background-image: url("../img/design-example.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  position: relative;
}
.banner:after {
  background-color: #2f9bee;
  background-image: linear-gradient(to right, #2f9bee, #47c9e5);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  z-index: 1;
  opacity: 0.6;
}
.banner .container {
  position: relative;
  height: 100vh;
  z-index: 2;
}
.banner .container .content {
  position: absolute;
  bottom: 25%;
  left: 50px;
}
.banner .container .content h2 {
  color: #fff;
  font-size: 6rem;
  width: 0px;
  text-transform: capitalize;
}

.intro {
  padding: 115px 0 90px 0;
}
.intro .col {
  max-width: 80%;
  margin: 0 auto;
}

.carousel {
  padding: 25px 0;
}
.carousel .carousel-cell {
  width: 25%;
  height: 200px;
  background-color: #2f9bee;
  background-image: linear-gradient(to right, #2f9bee, #47c9e5);
  counter-increment: gallery-cell;
}
.carousel .carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.portfolioHome {
  padding: 25px 0;
}

/* ---- grid ---- */
.grid {
  max-width: 1140px;
  margin: 0 auto;
}
.grid:after {
  content: "";
  display: block;
  clear: both;
}
.grid .grid-sizer,
.grid .grid-item {
  width: 370px;
}
.grid .grid-item {
  float: left;
  margin-top: 10px;
  transition: 0.5s ease;
  -webkit-box-shadow: 2px 8px 25px 1px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 2px 8px 25px 1px rgba(0, 0, 0, 0.6);
  box-shadow: 2px 8px 25px 1px rgba(0, 0, 0, 0.6);
}
.grid .grid-item .hover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 0, 0, 0);
  transition: 0.5s ease;
  pointer-events: none;
}
.grid .grid-item .hover h3 {
  color: #fff;
}
.grid .grid-item:hover {
  margin-top: 5px;
}
.grid .grid-item:hover .hover {
  background: rgba(0, 0, 0, 0.4);
}
.grid .grid-item img {
  display: block;
  max-width: 100%;
}

.blurb {
  margin-top: 50px;
  padding: 50px 0;
  background-color: #2f9bee;
  background-image: linear-gradient(to right, #2f9bee, #47c9e5);
}
.blurb h2, .blurb p {
  color: #fff;
}
.blurb .col-c {
  max-width: 80%;
  margin: 0 auto;
}
.blurb .services .col-c {
  background: rgba(255, 255, 255, 0);
  transition: 0.5s ease;
  padding: 25px 15px;
}
.blurb .services .col-c:hover {
  background: rgba(255, 255, 255, 0.1);
}
.blurb .services .col-c h2 {
  margin: 15px 0;
}

.workWith {
  padding: 50px 0;
}
.workWith h2 {
  margin-bottom: 50px;
}
.workWith img {
  filter: url("http://www.uprisevsi.co.uk/templates/js/filters.svg#grayscale");
  filter: gray;
  -webkit-filter: grayscale(1);
  transition: 0.5s ease;
}
.workWith img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

footer {
  background: #363636;
  padding: 50px;
}
footer p, footer a {
  color: #fff;
}

.t-right {
  text-align: right;
}

/*# sourceMappingURL=styles.css.map */
